body {
    font-size: 22px;
    color: #252641;
    font-weight: 400;
    line-height: 1;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    font-family: $font-primary;
    text-decoration: none;
    line-height: calc(33 /22);
    padding: 13px 50px;
    border: 0;
    outline: none;
    border-radius: 100rem;
    cursor: pointer;

    &--white {
        background-color: $white;
        color: $gray-light;
    }

    &--primary {
        background-color: $secondary-color;
        color: $white;
    }

    &--outline {
        color: $white;
        padding: 22px 37px;
        border: 1px solid currentColor;
    }

    &--outlineStd {
        color: $white;
        padding: 22px 37px;
        background: rgba(35, 189, 238, 0.9);
        border-radius: 80px;
    }

    &--outlineSee {
        color: $secondary-color;
        padding: 22px 37px;
        border: 1px solid currentColor;
    }
}

.global {
    &-heading {
        color: $primary-color;
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 20px;

        span {
            color: $secondary-color;
        }
    }

    &-text {
        font-size: 24px;
        line-height: 180%;
        color: $gray;
    }

    &-caption {
        color: #525596;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.2em;
        font-weight: 400;
        padding-left: 110px;
        position: relative;
        margin-bottom: 33px;

        &:before {
            content: "";
            width: 80px;
            height: 1px;
            background-color: #525596;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.bg {
    &-purple {
        background-color: $purple;
    }

    &-secondary {
        background-color: $secondary-color;
    }

    &-blue {
        background-color: $blue;
    }
}